<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.kyurinastudio\.sakura\.ne\.jp)(:80)? [NC]
RewriteRule ^(.*) https://kyurinastudio.sakura.ne.jp/$1 [R=301,L]
DirectoryIndex index.html       
order deny,allow
