html {
 font-size: 62.5%;
}
body{
font-family: "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN,'Noto Sans JP', "Yu Gothic Medium", YuGothic, sans-serif,-apple-system, "メイリオ", Meiryo, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI";
}
img {
 width: 100%;
 height: auto; 
}
li {
 list-style: none;
}
a{
 text-decoration: none;
}
.db{
 display: block;
}
.dn{
 display: none;
}
.m0{
 margin: 0 auto;
}
/*------------------------------------
/*
/*　ページトップボタン
/*
/*------------------------------------*/
#page_top {
 position: fixed;
 bottom: 30px;
 right: 20px;
 width: 50px;
 height: 50px;
 background-color: #000;
 text-align: center;
 vertical-align: middle;
 display: table;
 border: 1px solid #fff;
}
#page_top a {
  color: #fff;
  font-size: 2.5rem;
  border-radius: 5px;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
}
#page_top a:hover {
  background-color: #666;
  text-decoration: none;
}
/*------------------------------------
/* タイトル
/*------------------------------------*/
.icon{  
 position: relative;
 top: 3px;
 margin: -4px 4px 0 0;
 width: 14.5%;
}
.title{
 margin-right: 2vw;
}
/*------------------------------------
/*
/*　メイン
/*
/*------------------------------------*/
/*------------------------------------
/*　共通
/*------------------------------------*/
.ttl{
  margin: 20px 0 64px;
  font-size: 3vw;
  text-align: center;
  font-weight: bold;
}
.subttl{
  font-size: 20px;
  font-weight: bold;
  margin-top: 32px;
}
.txt{
  font-size: 16px;
}
.txt-2{
  font-weight: bold;
  padding: 10px 0;
  display: block;
}
.btn{
  padding: 10px 20px;
  font-size:  15px;
  border-radius: 5px;
  display: block;
  margin: 40px auto;
  text-decoration: none;
  background:rgb(255, 255, 255);
}
.btn:hover{
  color: #fff;
  text-decoration: none;
}
/*------------------------------------
/*  全体
/*------------------------------------*/
.main-container{
  font-feature-settings: "palt" 1;
  padding: 100px 64px 64px;
  margin: 0 auto;
  max-width: 1400px;
  background:rgb(226, 240, 217);
}
.txt-container{
  width: 95%;
}
.txt-container img{
  width: 470px;
  margin-top: 16px;
}
/*------------------------------------
/*  ペルソナ
/*------------------------------------*/
.p-img{
  width: 30%;
}
.p-name{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
/*------------------------------------
/*
/*  レスポンシブ
/*
/*------------------------------------*/
@media screen and (max-width: 749px){
 body{
    max-width: 750px;
    overflow-x: hidden;
  }
  .header{
    display: none;
  }
  .main-container{
    padding: 80px 24px 64px;
    margin: 0 auto;
    max-width: 1400px;
  }
  .ttl{
    font-size: 3rem;
  }
  .txt-container{
    width: 100%;
  }

  .txt-container img{
  width: 100%;
  min-width: 350px;
}

}